.site {
    @include flexbox();
    flex-direction:column;
    min-height:100vh;

    .site-content {
        flex:1;
        padding:0.5rem 1rem;
        margin-top: 0;

        @media screen and (min-width: $query__medium) {
            padding:2rem;
        }
    }

}