// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin radial-gradient($from, $to) {
	background-color: $from;
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	
}

@mixin linear-gradient($from, $to) {
	background-color:$from;
	background:-moz-linear-gradient(to bottom, $from, $to);
	background:-webkit-linear-gradient(to bottom, $from, $to);
	background:-o-linear-gradient(to bottom, $from, $to);
	background:-ms-linear-gradient(to bottom, $from, $to);
	background:linear-gradient(to bottom, $from, $to);
}

@mixin flexbox() {
	display:-webkit-flex;
	display:-ms-flex;
	display:flex;
}
