$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
// $color__background-button: #e6e6e6;
$color__background-button: rgb(168, 21, 11);
$color__background-pre: #eee;
$color__bg_header-blue: rgb(6, 7, 70);
$color__card-background: #efefef;

$color__hdr-links: #fff;
$color__nav-grad-one: #161870;
$color__nav-grad-two: #40418d;

$color__hdr-grad-one: #505052;
$color__hdr-grad-two: #1e1e24;

$color__text-screen: #333333;
$color__text-input: #666;
$color__text-input-focus:#000;
$color__text-main: #404040;
$color__heading-accent: rgb(242, 143, 31);
$color__border-blue: #1c94cc;

$color__font-dark-bg : #ffffff;

$color__border-button: #7c3d39 #7c3d39 #582724;
$color__border-button-hover: #7c3d39 #582724 #3d1614;
$color__border-button-focus: #3d1614 #582724 #582724;
$color__border-input: #404040;
$color__border-abbr: #666;

$color__link: #a8150b;
$color__link-visited: #7c3d39;
$color__link-hover: #7c3d39;

$color__accent-transparent:rgba(242,143,31,0.2);
$color__blue-transparent:rgba(6,7,70,0.2);
$color__red-transparent:rgba(168,21,11,0.2);
